<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<paywithiyzico>
				<active>1</active>
				<model>Iyzico\PayWithIyzico\Model\Payment\PayWithIyzico</model>
				<order_status>pending</order_status>
				<title>iyzico ile Öde</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</paywithiyzico>
		</payment>
	</default>
</config>
