<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <iyzipay>
                <active>1</active>
                <model>IyzipayPaymentModel</model>
                <order_status>pending</order_status>
                <title>Kredi/Banka Kartı ile Ödeme</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <checkout_language>TR</checkout_language>
                <common_cron_settings>0 0 * * *</common_cron_settings>
                <effective_cron_schedule>0 0 * * *</effective_cron_schedule>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>1</is_offline>
            </iyzipay>
        </payment>
    </default>
</config>