<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<iyzipay>
				<active>1</active>
				<model>Iyzico\Iyzipay\Model\Payment\Iyzipay</model>
				<order_status>pending</order_status>
				<title>Kredi/Banka Kartı ile Ödeme</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</iyzipay>
		</payment>
	</default>
</config>
