<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Iyzipay Payment Method Model configuration -->
    <virtualType name="IyzipayPaymentModel" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Iyzico\Iyzipay\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IyzipayValueHandlerPool</argument>
        </arguments>
    </virtualType>


    <!-- Configuration reader -->
    <virtualType name="IyzipayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Iyzico\Iyzipay\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>


    <!-- Value handlers infrastructure -->
    <virtualType name="IyzipayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="configInterface" xsi:type="object">IyzipayConfig</argument>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IyzipayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Config value handler -->
    <virtualType name="IyzipayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IyzipayConfig</argument>
        </arguments>
    </virtualType>

    <!-- IyzipayOrderIdentity -->
    <type name="Magento\Sales\Model\Order\Email\Container\OrderIdentity">
        <plugin name="iyzico_order_email" type="Iyzico\Iyzipay\Plugin\Order\Email\Container\IyzipayOrderIdentity"
                disabled="true"/>
    </type>

    <!-- IyzipaySubtotal -->
    <preference for="Magento\Sales\Model\Order\Creditmemo\Total\Subtotal"
                type="Iyzico\Iyzipay\Model\Order\Creditmemo\Total\Subtotal"/>

    <!-- IyzipayTotals -->
    <preference for="Magento\Sales\Block\Adminhtml\Totals"
                type="Iyzico\Iyzipay\Block\Adminhtml\IyzipayTotals"/>

    <!-- IyzipayCreditmemoTotals -->
    <preference for="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Totals"
                type="Iyzico\Iyzipay\Block\Adminhtml\Order\Creditmemo\IyzipayCreditmemoTotals"/>

    <!-- IyzipayOrderTotals -->
    <preference for="Magento\Sales\Block\Adminhtml\Order\Totals"
                type="Iyzico\Iyzipay\Block\Adminhtml\Order\IyzipayOrderTotals"/>

    <!-- IyzipayOrderInvoiceTotals -->
    <preference for="Magento\Sales\Block\Adminhtml\Order\Invoice\Totals"
                type="Iyzico\Iyzipay\Block\Adminhtml\Order\Invoice\IyzipayOrderInvoiceTotals"/>

    <!-- IyzipayInvoiceTotal -->
    <preference for="Magento\Sales\Block\Adminhtml\Invoice\Totals"
                type="Iyzico\Iyzipay\Block\Adminhtml\Invoice\IyzipayInvoiceTotal"/>

    <!-- IyzipayOrderTotals -->
    <preference for="Magento\Sales\Block\Order\Totals"
                type="Iyzico\Iyzipay\Block\Order\IyzipayOrderTotals"/>

    <!-- Helper Injections -->
    <type name="Iyzico\Iyzipay\Helper\ObjectHelper">
        <arguments>
            <argument name="utilityHelper" xsi:type="object">Iyzico\Iyzipay\Helper\UtilityHelper</argument>
            <argument name="rand" xsi:type="object">Magento\Framework\Math\Random</argument>
            <argument name="installmentCollectionFactory" xsi:type="object">Iyzico\Iyzipay\Model\ResourceModel\IyziInstallment\CollectionFactory</argument>
        </arguments>
    </type>

    <!-- Cron Logger -->
    <type name="Iyzico\Iyzipay\Logger\IyziCronLogger">
        <arguments>
            <argument name="handler" xsi:type="object">Iyzico\Iyzipay\Logger\Handler\IyziCronHandler</argument>
        </arguments>
    </type>

    <!-- Error Logger -->
    <type name="Iyzico\Iyzipay\Logger\IyziErrorLogger">
        <arguments>
            <argument name="handler" xsi:type="object">Iyzico\Iyzipay\Logger\Handler\IyziErrorHandler</argument>
        </arguments>
    </type>

    <!-- Webhook DTO -->
    <preference for="Iyzico\Iyzipay\Api\Data\WebhookDataInterface" type="Iyzico\Iyzipay\Model\Data\WebhookData"/>

    <!-- Webhook Model -->
    <preference for="Iyzico\Iyzipay\Api\WebhookInterface" type="Iyzico\Iyzipay\Model\Webhook"/>

    <virtualType name="IyzicoInstallmentGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Iyzico\Iyzipay\Model\ResourceModel\IyziInstallment\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">IyzicoInstallmentGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IyzicoInstallmentGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="iyzico_category_installment_listing_data_source" xsi:type="string">Iyzico\Iyzipay\Model\ResourceModel\IyziInstallment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Iyzico\Iyzipay\Model\ResourceModel\IyziInstallment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">iyzico_installment</argument>
            <argument name="resourceModel" xsi:type="string">Iyzico\Iyzipay\Model\ResourceModel\IyziInstallment</argument>
        </arguments>
    </virtualType>

    <!-- Product SKU installment listing -->
    <virtualType name="IyzicoProductInstallmentGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Iyzico\Iyzipay\Model\ResourceModel\IyziInstallment\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">IyzicoProductInstallmentGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="IyzicoProductInstallmentGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="iyzico_product_installment_listing_data_source" xsi:type="string">Iyzico\Iyzipay\Model\ResourceModel\IyziInstallment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Iyzico\Iyzipay\Model\ResourceModel\IyziInstallment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">iyzico_installment</argument>
            <argument name="resourceModel" xsi:type="string">Iyzico\Iyzipay\Model\ResourceModel\IyziInstallment</argument>
        </arguments>
    </virtualType>
</config>
