<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Sales\Model\Order\Creditmemo\Total\Subtotal" type="Iyzico\PayWithIyzico\Model\Order\Creditmemo\Total\Subtotal" />
    <preference for="Magento\Sales\Block\Adminhtml\Totals" type="Iyzico\PayWithIyzico\Block\Adminhtml\Totals" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\Totals" type="Iyzico\PayWithIyzico\Block\Adminhtml\Order\Totals" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\Invoice\Totals" type="Iyzico\PayWithIyzico\Block\Adminhtml\Order\Invoice\Totals" />
    <preference for="Magento\Sales\Block\Adminhtml\Invoice\Totals" type="Iyzico\PayWithIyzico\Block\Adminhtml\Invoice\Totals" />
    <preference for="Magento\Sales\Block\Order\Totals" type="Iyzico\PayWithIyzico\Block\Order\Totals" />
</config>
