<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Sales\Model\Order\Creditmemo\Total\Subtotal" type="Iyzico\Iyzipay\Model\Order\Creditmemo\Total\Subtotal" />
    <preference for="Magento\Sales\Block\Adminhtml\Totals" type="Iyzico\Iyzipay\Block\Adminhtml\Totals" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\Creditmemo\Totals" type="Iyzico\Iyzipay\Block\Adminhtml\Order\Creditmemo\Totals" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\Totals" type="Iyzico\Iyzipay\Block\Adminhtml\Order\Totals" />
    <preference for="Magento\Sales\Block\Adminhtml\Order\Invoice\Totals" type="Iyzico\Iyzipay\Block\Adminhtml\Order\Invoice\Totals" />
    <preference for="Magento\Sales\Block\Adminhtml\Invoice\Totals" type="Iyzico\Iyzipay\Block\Adminhtml\Invoice\Totals" />
    <preference for="Magento\Sales\Block\Order\Totals" type="Iyzico\Iyzipay\Block\Order\Totals" />
		<preference for="Iyzico\Iyzipay\Api\WebhookInterface" type="Iyzico\Iyzipay\Model\Api\Webhook"/>
	<type name="Magento\Framework\Webapi\Rest\Request\DeserializerFactory">
			<arguments>
					<argument name="deserializers" xsi:type="array">
							<item name="application_x_www_form_urlencoded" xsi:type="array">
									<item name="type" xsi:type="string">application/x-www-form-urlencoded</item>
									<item name="model" xsi:type="string">Iyzico\Iyzipay\Webapi\Rest\Request\Deserializer\XWwwFormUrlencoded</item>
							</item>
							<item name="application_json" xsi:type="array">
									<item name="type" xsi:type="string">application/json</item>
									<item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Json</item>
							</item>
							<item name="application_xml" xsi:type="array">
									<item name="type" xsi:type="string">application/xml</item>
									<item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
							</item>
							<item name="application_xhtml_xml" xsi:type="array">
									<item name="type" xsi:type="string">application/xhtml+xml</item>
									<item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
							</item>
							<item name="text_xml" xsi:type="array">
									<item name="type" xsi:type="string">text/xml</item>
									<item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
							</item>
					</argument>
			</arguments>
	</type>
	<type name="Magento\Framework\Webapi\Rest\Request">
			<plugin name="force_html_response"
							type="Iyzico\Iyzipay\Plugin\Magento\Framework\Webapi\Rest\Request"/>
	</type>
	<type name="Magento\Framework\Webapi\Rest\Response\RendererFactory">
			<arguments>
					<argument name="renders" xsi:type="array">
							<item name="html" xsi:type="array">
									<item name="type" xsi:type="string">text/html</item>
									<item name="model" xsi:type="string">Iyzico\Iyzipay\Webapi\Rest\Response\Renderer\Html</item>
							</item>
							<item name="default" xsi:type="array">
									<item name="type" xsi:type="string">*/*</item>
									<item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Response\Renderer\Json</item>
							</item>
					</argument>
			</arguments>
	</type>

</config>
