<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="Iyzico_PayWithIyzico" id="Iyzico_PayWithIyzico">
			<module name="Iyzico_PayWithIyzico"/>
		</route>
	</router>
</config>
